# manifests/infrastructure/paperless-system/image-update.yaml
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageRepository
metadata:
  name: paperless-ngx
  namespace: flux-system
spec:
  image: ghcr.io/paperless-ngx/paperless-ngx
  interval: 1h0m0s
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: paperless-ngx
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: paperless-ngx
  policy:
    semver:
      range: ">=2.0.0"
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: paperless-ngx-auto-update
  namespace: flux-system
spec:
  interval: 30m
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: 'chore: update paperless-ngx images
        
        {{ range .Changed.FileChanges -}}
        - {{ .Path }}: {{ .NewValue }}
        {{ end -}}'
    push:
      branch: main
  update:
    path: ./manifests/infrastructure/paperless-system
    strategy: Setters
