# manifests/infrastructure/paperless-system/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - pre-consumption.yaml
  - paperlessngx-deployment.yaml
  - tunnel-binding-ingress.yaml
  - image-update.yaml

# Disabling for now, as local modals are not helpful.
# - paperless-ai.yaml
