# manifests/infrastructure/uptime-kuma/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - release.yaml
  - tunnel-binding-ingress.yaml
  - image-update.yaml
