# manifests/infrastructure/immich-system/release.yaml
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library-pv
  namespace: immich-system
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: "immich-library-manual"
  capacity:
    storage: 250Gi
  hostPath:
    path: /var/mnt/ssd_nvme_predator_GM7000/immich
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library-pvc
  namespace: immich-system
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 250Gi
  storageClassName: "immich-library-manual"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-machine-learning-pv
  namespace: immich-system
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: "immich-machine-learning-manual"
  capacity:
    storage: 20Gi
  hostPath:
    path: /var/mnt/ssd_nvme_predator_GM7000/immich/machine-learning-modals
    type: DirectoryOrCreate
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: immich-charts
  namespace: flux-system
spec:
  interval: 1h
  url: https://immich-app.github.io/immich-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich-system
spec:
  interval: 5m
  chart:
    spec:
      chart: immich
      sourceRef:
        kind: HelmRepository
        name: immich-charts
        namespace: flux-system
      version: "0.9.3"
  values:
    env:
      REDIS_HOSTNAME: "redis-immich-cluster.cnrds-system.svc.cluster.local"
      DB_HOSTNAME: "pg-immich-cluster-rw.cnpg-system.svc.cluster.local"
      DB_DATABASE_NAME: "postgresql_immich_pgsql"
      IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: cnpg-immich-user-password
            key: username
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: cnpg-immich-user-password
            key: password
    image:
      # Helm Char Generally has a older version of immich, so we are using the on demand image
      tag: release # {"$imagepolicy": "flux-system:immich-server:tag"}
    immich:
      metrics:
        enabled: false
      persistence:
        library:
          existingClaim: immich-library-pvc
    postgresql:
      enabled: false
    redis:
      enabled: false
    server:
      service:
        main:
          type: NodePort
      enabled: true
      image:
        repository: ghcr.io/immich-app/immich-server
        pullPolicy: Always

    machine-learning:
      enabled: true
      image:
        repository: ghcr.io/immich-app/immich-machine-learning
        tag: release # {"$imagepolicy": "flux-system:immich-machine-learning:tag"}
        pullPolicy: Always
      # resources:
      #   limits:
      #     nvidia.com/gpu: 1
      #   requests:
      #     nvidia.com/gpu: 1
      env:
        TRANSFORMERS_CACHE: /cache
        # CUDA_VISIBLE_DEVICES: "0"
        # NVIDIA_VISIBLE_DEVICES: "0"
      persistence:
        cache:
          enabled: true
          size: 20Gi
          accessMode: ReadWriteOnce
          storageClass: immich-machine-learning-manual
